.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-text {
  position: absolute;
  font-family: 'Courier New', monospace;
  font-size: 32px;
  font-weight: bolder;
  color: #666;
  top: -15px;
  left: -5px;
  pointer-events: none;
  word-wrap: break-word;
  white-space: pre-line;
  user-select: none;
	box-shadow: inset 0px 0px 20px 20px rgba(0, 0, 0, 0.5);
}

.background-text .function-name {
  color: #38AECC;
}

.background-text .quality-name {
  color: #F72585;
}

.background-text .technology-name {
  color: #28E4B2;
}

.info-box {
  font-family: 'Courier New', monospace;
  background-color: #fff; /* Set the background color to white */
  color: #000; /* Set the text color to black */
  border: 5px solid #0C0A3E; /* Add a 5px solid border with the desired color */
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.info-box:hover {
  border: 5px solid #38AECC;
}

.info-box .full-display {
  padding: 20px 30px;
}

.info-box .empty-display {
  padding: 10px 20px;
}

.blur-background {
  filter: blur(2px); /* Adjust the blur radius as needed */
}
